* {
    --bg-color: #202124;
    --glass-color: rgba(255, 255, 255, 0.1);
    --searchbar-height: 2.5rem;
    --hover-color: #303134;
}

body {
    background: var(--bg-color);
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 200%;
    color: aliceblue;
}

.searchbar-container {
    border: 1px solid var(--glass-color);
    height: var(--searchbar-height);
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--searchbar-height);
}


.searchbar-container input {
    height: var(--searchbar-height);
    outline: none;
    border: none;
    width: 100%;
    color: white;
    background-color: transparent;
    font-family: poppins, monospace;
}



.buttons-container {
    display: flex;
    gap: 1rem;
}

.buttons-container input {
    height: var(--searchbar-height);
    background-color: var(--hover-color);
    color: white;
    font-family: poppins, monospace;
    padding: 0 1rem;
    border-radius: 0.2rem;
    font-weight: 300;
    border: 1px solid transparent;
}

.buttons-container input:hover {
    border: 1px solid var(--glass-color);
}

footer {
    background-color: #171717;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

footer a{
    color: aliceblue;
}

.donate{
text-align: left;
font-size: 50%;
color: white;
}